{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthy Island</title>
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico" type="images/ico" sizes="16x16">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="{% static 'island\css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'island\css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'island\css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'island\css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'island\css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'island\css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'island\css/lity.css' %}">
    <link rel="stylesheet" href="{% static 'island\css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'island\css\style.css' %}">
    <!--[if lt IE 9]>
    <script src="js/modernizr-3.5.0.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ====== scroll to top ====== -->
    <a id="toTopBtn" title="Go to top" href="javascript:void(0)">
        <i class="fa fa-chevron-up"></i>
    </a>
    <!-- loader  -->
    <div class="loader">
        <h1>Loading...</h1>
        <div id="cooking">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div id="area">
                <div id="sides">
                    <div id="pan"></div>
                    <div id="handle"></div>
                </div>
                <div id="pancake">
                    <div id="pastry"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader ends  -->
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="menubar">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-static-top">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
                <script>
                    function loadGoogleTranslate() {
                        new google.translate.TranslateElement(
                            {pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 
                            'google_element'
                        );
                    }
            
                    // Wait for the Google Translate widget to load
                    window.addEventListener('load', loadGoogleTranslate);
                </script>
        
    <div id="google_element" style="position:relative;left:70vw;top:-2  vh">Language</div>
                                    <a class="navbar-brand" href="{% url 'home'  %}">
                                        <img style="height:200px;" src="{% static 'island\images/aziz.png' %}" class="img-responsive" alt="logo">
                                    </a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse ">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="res-btn">
                                            <a href="{% url 'reservation'  %}" class="book-btn">Book a table</a>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right" id="main-menu">
                                        <li class="s">
                                            <a href="{% url 'home'  %}">
                                                Home

                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="{% url 'about'  %}">About</a>
                                        </li>
                                       
                                                <li>
                                                    <a href="{% url 'menu'  %}"> menu</a>
                                                </li>
                                                

                                           

                                        


                                    </ul>

                                </div>
                                <!-- /.navbar-collapse -->
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mobile-menu" data-logo="images/logo.png">


            </div>
        </header>
        <section class="page-title">
            <div class="container">
                <h2 class="title" style="position:relative;top:55px;">
                    About Us
                </h2>
                <ul class="brdcrumb clearfix">
                    <li>
                        <a href="{% url 'home'  %}">Home</a>
                    </li>
                    <li class="current">
                        About
                    </li>
                </ul>
            </div>
        </section>

        <section class="page-section section-padding abt-page-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <div class="chef-figure">
                            <img src="{% static 'island\images/abt-chef.png' %}" alt="about chef pic" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-11 col-xs-offset-1">
                                <h2 class="main-title text-right">
                                    <span class="bg-reverse">About Us</span>
                                </h2>
                            </div>
                        </div>
                        <div class="abt-content">
                            <p>
                                Welcome to Healthy Island, where culinary excellence meets warm hospitality. Our story is one of passion, dedication, 
                                and a commitment to delivering an exceptional dining experience to our cherished guests. Let me share a glimpse of what makes us unique:
                            </p>
                            <ul class="food-list">
                                <li>
                                    
                                <li>Guiding Principles: Our culinary team, led by Head Chefs, is dedicated to crafting dishes that tantalize taste buds and celebrate the finest ingredients. 
                                    From farm-fresh produce to premium cuts of meat, we source only the best to ensure every bite is a culinary delight</li>
                                
                            </ul>

                            <div class="abt-quality">
                                <div class="row">
                                    <div class="col-xs-6 sm-full sm-text-center">
                                        <div class="quality-box">
                                            <div class="icon">
                                                <i class="flaticon-tray-1"></i>
                                            </div>

                                            <h4 class="quality-title">
                                                <a href="#">100 % Fresh Organic Foods</a>
                                            </h4>
                                            <p>
                                                Organic foods tend to be more nutritious, with higher levels of antioxidants and essential vitamins1.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 sm-full sm-text-center">
                                        <div class="quality-box">
                                            <div class="icon">
                                                <i class="flaticon-chef"></i>
                                            </div>

                                            <h4 class="quality-title">
                                                <a href="#">Great Food Taste and quality</a>
                                            </h4>
                                            <p>
                                                The meat is very well cooked and tender.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- video section  -->
        <section class="section-padding video-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <!-- fearture -->
                            <div class="col-xs-6">
                                <div class="feature">
                                    <div class="icon">
                                        <i class="flaticon-restaurant"></i>
                                    </div>
                                    <div class="feature-text">

                                        <h5 class="title">
                                            <span class="count">400</span>
                                            Menu Items
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!-- feature ends  -->
                            <!-- fearture -->
                            <div class="col-xs-6">
                                <div class="feature">
                                    <div class="icon">
                                        <i class="flaticon-coffee"></i>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title">
                                            <span class="count">550</span>Daily Customers
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!-- feature ends  -->
                            <!-- fearture -->
                            <div class="col-xs-6">
                                <div class="feature">
                                    <div class="icon">
                                        <i class="flaticon-chef"></i>
                                    </div>
                                    <div class="feature-text">

                                        <h5 class="title">
                                            <span class="count">340</span>Expert Chefs
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!-- feature ends  -->
                            <!-- fearture -->
                            <div class="col-xs-6">
                                <div class="feature">
                                    <div class="icon">
                                        <i class="flaticon-table"></i>
                                    </div>
                                    <div class="feature-text">
                                        <h5 class="title">
                                            <span class="count">14</span>Years of experience
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!-- feature ends  -->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="video-box">

                            <img src="{% static 'island\images/about/video-poster.jpg' %}" alt="video poster" class="img-responsive">
                            <a href="https://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity title="youtube popup button" class="overlay yt-pop">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- video section ends -->
        <!-- our chefs section  -->
        
        <!-- our chefs section ends -->
        <!-- partners section -->
       
        <!-- partners section ends -->
        <!-- newsletter section  -->
        <section class="newsletter-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="newsletter-title ">
                            Subscribe Our Newsletter
                        </h2>
                    </div>
                    <div class="col-md-5">

                        <form action="#" method="post" class="news-form">
                            <i class="fa fa-envelope-o"></i>
                            <input type="text" placeholder="Enter your email address" class="form-control">
                            <button type="submit" class="btn-submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- newsletter section ends  -->
        <!-- footer  -->
        <footer class="footer section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12" style="position:relative;left:22vw;">
                                    <h3 class="main-title footer-title text-right">
                                        <span>
                                            Contact Us
                                        </span>
                                    </h3>
                                </div>
                            </div>

                            <div class="content" style="position:relative;left:25vw;width:50vw;" >
                                <p>
                                    <i class="fa fa-map-marker"> </i>
                                    <span>ADDRESS :</span>Rue pologne, Bardo ,Tunisia
                                </p>
                                <p>
                                    <i class="fa fa-phone"> </i>
                                    <span>CALL US :</span>+123-456-7890, +987-654-3210
                                </p>
                                <p>
                                    <i class="fa fa-envelope-o"> </i>
                                    <span>EMAIL US :</span>taste@tastybite.com
                                </p>
                                <h5>Follow us on :</h5>
                                <ul class="mini-social">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
        </footer>
        <!-- footer ends -->

        <div class="copyright">

            <p>
                © Copyright | TastyBite 2018. All Right Reserved Developed By
                <a href="#">Chouchene Med amine</a>
            </p>
        </div>
    </div>
    <script src="{% static 'island\js/jquery.1.12.4.js' %}"></script>
    <script src="{% static 'island\js/bootstrap.min.js' %}"></script>
    <script src="{% static 'island\js/plugins.js' %}"></script>
    <script src="{% static 'island\js/main.js' %}"></script>
</body>

</html>